
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}

section > header {
  position: absolute;
  right: -4px;
  top: -4px;
  border: 1px solid black;
  border-width: thick;
  width: 100px;
  text-align: center;
  font-size: 1.25em

} 

section {
  margin: 10px;
  position: relative;
  background-color: gray;
  border: 1px solid black; 
  border-width: thick;

}

div:nth-child(1) {
  background-color: purple;
}

div:nth-child(2) > section > header {
  background-color: white;
}

div:nth-child(3) > section > header {
  background-color: green;
}

div:nth-child(4) > section > header {
  background-color: yellow;
}

section > span {
  display: inline-block;
  margin: 15px;
  margin-top: 40px;
}


@media (min-width: 992px) {   
  
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  

  .col-md-6 {
    float: left;
    width: 50%; 
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
 
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}